.header {
    padding: 6px;
    text-align: center;
    background: #90cf07;
    color: rgb(10, 5, 5);
    font-size: 55px;
  }

  .search {
    float: right;
    display: block;
    color: rgb(104, 8, 8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }

  .button  {
    float: left;
    display: block;
    color: #400613;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav{
    padding: 5px;
    float: center;
    background: #499d44;
    font-size: 15px;
    
  }

.listItem{
  padding: 5px;
  color: #d6550a;
  font-size: large;
  background-color: #f1f0f4;
   
  
  
}

.articles{
  display: flex;
  flex-wrap: wrap;
  background: #347938;
 
}

.article{
  cursor: pointer;
  width: 25%;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 20px;
  background-color: #d7dd2a;
}

.articlesList{
  background: #a4c3c1;
  color: rgb(11, 9, 17);
  font-size: larger;


}





